{{ form_start(form) }}
    {{ form_errors(form) }}
    {{ form_row(form.gewicht, {'label': 'Gewicht'}) }}
    {{ form_row(form.bf, {'label': 'Körperfett %'}) }}
    {{ form_row(form.timestamp, {'label': 'Timestamp'}) }}
    <br />
    <button class="btn btn-success">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
