{% extends 'admin.base.html.twig' %}

{% block title %}ToolKit - Dashboard Analytics{% endblock %}

{% block body %}
        <main class="content">
                <div class="container-fluid p-0">

                    <div class="row mb-2 mb-xl-3">
                        <div class="col-auto d-none d-sm-block">
                            <h3><strong>Analytics</strong> Dashboard</h3>
                        </div>

                        <div class="col-auto ml-auto text-right mt-n1">
                            <nav aria-label="breadcrumb">
                                <ol class="breadcrumb bg-transparent p-0 mt-1 mb-0">
                                    <li class="breadcrumb-item"><a href="#">ToolKit</a></li>
                                    <li class="breadcrumb-item active" aria-current="page">Dashboard</li>
                                </ol>
                            </nav>
                        </div>
                        <div class="alert alert-success" role="alert">
                            <div class="alert-message">
                                Für weitere Informationen klick auf den Info-Button <i class="align-middle" data-feather="info" data-toggle="modal" data-target="#Info"></i>
                            </div>
                            <div class="modal fade" id="Info" tabindex="-1" aria-hidden="true" style="display: none;">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h4 class="modal-title">Grundlegende Informationen</h4>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">×</span>
                                            </button>
                                        </div>
                                        <div class="modal-body m-3">
                                            <p class="mb-0"><b>Aufbau, Erhalt & Defizit:</b><br/>
                                                Allgemeine Kalorienanpassungen sind +300 kcal im Aufbau und -300 kcal im Defizit.
                                            </p><br/>
                                            <p class="mb-0"><b>Refeed:</b><br/>
                                                Im <b>ersten</b> Monat eines Kaloriendefizits ist kein Refeedtag nötig - bringt keine Vorteile<br/>
                                                im <b>zweiten</b> Monat empfiehlt sich 1x pro Woche einen Refeedtag durchzuführen. z.B an einem Samstag<br/>
                                                Im <b>dritten</b> Monat empfiehlt es sich 2x pro Woche einen Refeedtag durchzuführen. z.B am Mittwoch und Samstag<br/>
                                                Weitere Infos zum Refeed-Konzept: <a href="https://quantumleapfitness.de/refeed-day" target="_blank">https://quantumleapfitness.de/refeed-day</a>
                                            </p>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Schliessen</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                       <!-- <div class="col-12 col-md-6 col-lg-4">-->
                            <div class="w-100">
                                <div class="row">
                                    <div class="col-12 col-md-6 col-lg-4">
                                        <div class="card">
                                            <div class="card-body">
                                                <h5 class="card-title mb-4">Aufbau <i class="align-middle" data-feather="arrow-up"></i></h5>
                                                <h1 class="mt-1 mb-3 text-success">{{aufbau|number_format}} kcal</h1>
                                                <div class="mb-1">
                                                    {% if pal == 0 %}
                                                        <span class="text-muted">PAL benötigt</span>
                                                    {% elseif gewichtkcal == 0%}
                                                        <span class="text-muted">Gewicht zum berechnen benötigt</span>
                                                    {% endif %}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card">
                                            <div class="card-body">
                                                <h5 class="card-title mb-4">PAL <i class="align-middle" data-feather="sun"></i></h5>
                                                <h1 class="mt-1 mb-3">{{pal|number_format(3)}}</h1>
                                                <div class="mb-1">
                                                    {% if pal == 0 %}
                                                    <span class="text-muted">Min. 1 Eintrag benötigt</span>
                                                    {% else %}
                                                    <span class="text-muted">Dein aktueller PAL-Wert</span>
                                                    {% endif %}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card">
                                            <div class="card-body">
                                                <h5 class="card-title mb-4">Fettfreie Masse <i class="align-middle" data-feather="dribbble"></i></h5>
                                                <h1 class="mt-1 mb-3">{{FFM|number_format(2)}} kg</h1>
                                                <div class="mb-1">
                                                    {% if FFM == 0 %}
                                                        <span class="text-muted">Gewicht und Körperfettprozent benötigt</span>
                                                    {% else %}
                                                        <span class="text-muted">Dein Gewicht bei 0% Körperfett</span>
                                                    {% endif %}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card">
                                            <div class="card-body">
                                                <h5 class="card-title mb-4 text-danger" data-toggle="modal" data-target="#proteinInfo">Proteine <i class="align-middle" data-feather="info"></i></h5>
                                                <h4 class="text-decoration-underline">Aufbau</h4>
                                                <h4 class="mt-1 mb-3 text-success">{{protein_aufbau_kcal|number_format}} kcal / {{ protein_aufbau_gramm|number_format }} g</h4>
                                                <h4 class="text-decoration-underline">Erhalt</h4>
                                                <h4 class="mt-1 mb-3 text-secondary">{{protein_erhalt_kcal|number_format}} kcal / {{ protein_erhalt_gramm|number_format }} g</h4>
                                                <h4 class="text-decoration-underline">Defizit</h4>
                                                <h4 class="mt-1 mb-3 text-danger">{{protein_defizit_kcal|number_format}} kcal / {{ protein_defizit_gramm|number_format }} g</h4>
                                                <h4 class="text-decoration-underline">Refeed</h4>
                                                <h4 class="mt-1 mb-3 text-primary">{{protein_defizit_kcal|number_format}} kcal / {{ protein_defizit_gramm|number_format }} g</h4>

                                                <div class="modal fade" id="proteinInfo" tabindex="-1" aria-hidden="true" style="display: none;">
                                                    <div class="modal-dialog" role="document">
                                                        <div class="modal-content">
                                                            <div class="modal-header">
                                                                <h4 class="modal-title">Berechnung der Proteinverteilung</h4>
                                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                                    <span aria-hidden="true">×</span>
                                                                </button>
                                                            </div>
                                                            <div class="modal-body m-3">
                                                                <p class="mb-0"><b>Aufbau:</b><br/>
                                                                    Gewicht * <b>2</b> = Gramm Protein * 4 kcal/g = Kalorienanteil Proteine
                                                                </p>
                                                                <p class="mb-0"><b>Erhalt, Defizit & Refeed:</b><br/>
                                                                    Gewicht * <b>2.3</b> = Gramm Protein * 4 kcal/g = Kalorienanteil Proteine
                                                                </p>
                                                            </div>
                                                            <div class="modal-footer">
                                                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Schliessen</button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="mb-1">
                                                    {% if pal == 0 %}
                                                        <span class="text-muted">PAL benötigt</span>
                                                    {% elseif gewichtkcal == 0%}
                                                        <span class="text-muted">Gewicht zum berechnen benötigt</span>
                                                    {% endif %}
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-12 col-md-6 col-lg-4">
                                        <div class="card">
                                            <div class="card-body">
                                                <h5 class="card-title mb-4">Erhalt <i class="align-middle" data-feather="minus"></i></h5>
                                                <h1 class="mt-1 mb-3 text-secondary">{{erhalt|number_format}} kcal</h1>
                                                <div class="mb-1">
                                                    {% if pal == 0 %}
                                                        <span class="text-muted">PAL benötigt</span>
                                                    {% elseif gewichtkcal == 0%}
                                                        <span class="text-muted">Gewicht zum berechnen benötigt</span>
                                                    {% endif %}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card">
                                            <div class="card-body">
                                                <h5 class="card-title mb-4">Gleitendes Gewicht <i class="align-middle" data-feather="activity"></i></h5>
                                                <h1 class="mt-1 mb-3">{{ gewicht_avg_7|number_format(2)}} kg</h1>
                                                <div class="mb-1">
                                                    {% if gewicht_avg_7 == 0 %}
                                                        <span class="text-muted">Min. 7 Einträge benötigt</span>
                                                    {% else %}
                                                        {% if gewicht_percent < 0 %}
                                                            <span class="text-danger"> <i class="mdi mdi-arrow-bottom-right"></i> {{gewicht_percent|number_format(2)}}% </span>
                                                        {% else %}
                                                            <span class="text-success"> <i class="mdi mdi-arrow-bottom-right"></i> +{{gewicht_percent|number_format(2)}}% </span>
                                                        {% endif %}
                                                        <span class="text-muted">Seit dem letzten Eintrag</span>
                                                    {% endif %}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card">
                                            <div class="card-body">
                                                <h5 class="card-title mb-4">Gewicht bei 10% BF <i class="align-middle" data-feather="github"></i></h5>
                                                <h1 class="mt-1 mb-3 text-muted">{{tenBF|number_format(2)}} kg</h1>
                                                <div class="mb-1">
                                                    {% if tenBF == 0 %}
                                                        <span class="text-muted">Gewicht und Körperfettprozent benötigt</span>
                                                    {% else %}
                                                        <span class="text-muted">
                                                            {% if kcalBis10BF < 0 %}
                                                                Noch {{ (kcalBis10BF|abs)|number_format(0, '.', '\'') }} kcal müssen zus. aufgenommen werden<br/>
                                                                Das dauert ca. {{ (tageBis10BF|abs)|number_format(0, '.', '\'') }} Tage, bei einem täglichen Überschuss von 300 kcal.<br/>
                                                                {{ (tageBis10BF_400|abs)|number_format(0, '.', '\'') }} Tage bei einem Überschuss von 400 kcal
                                                            {% else %}
                                                                Noch {{ (kcalBis10BF)|number_format(0, '.', '\'') }} kcal müssen eingespart werden<br/>
                                                                Das dauert ca. {{ tageBis10BF|number_format(0, '.', '\'') }} Tage, bei einem täglichen Defizit von 300 kcal.<br/>
                                                                {{ (tageBis10BF_400|abs)|number_format(0, '.', '\'') }} Tage bei einem Defizit von 400 kcal
                                                            {% endif %}
                                                        </span>
                                                    {% endif %}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card">
                                            <div class="card-body">
                                                <h5 class="card-title mb-4 text-warning" data-toggle="modal" data-target="#fettInfo">Fette <i class="align-middle" data-feather="info"></i></h5>
                                                <h4 class="text-decoration-underline">Aufbau</h4>
                                                <h4 class="mt-1 mb-3 text-success">{{fett_aufbau_kcal|number_format}} kcal / {{ fett_aufbau_gramm|number_format }} g</h4>
                                                <h4 class="text-decoration-underline">Erhalt</h4>
                                                <h4 class="mt-1 mb-3 text-secondary">{{fett_erhalt_kcal|number_format}} kcal / {{ fett_erhalt_gramm|number_format }} g</h4>
                                                <h4 class="text-decoration-underline">Defizit</h4>
                                                <h4 class="mt-1 mb-3 text-danger">{{fett_defizit_kcal|number_format}} kcal / {{ fett_defizit_gramm|number_format }} g</h4>
                                                <h4 class="text-decoration-underline">Refeed</h4>
                                                <h4 class="mt-1 mb-3 text-primary">{{fett_refeed_kcal|number_format}} kcal / {{ fett_refeed_gramm|number_format }} g</h4>

                                                <div class="modal fade" id="fettInfo" tabindex="-1" aria-hidden="true" style="display: none;">
                                                    <div class="modal-dialog" role="document">
                                                        <div class="modal-content">
                                                            <div class="modal-header">
                                                                <h4 class="modal-title">Berechnen der Fettverteilung</h4>
                                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                                    <span aria-hidden="true">×</span>
                                                                </button>
                                                            </div>
                                                            <div class="modal-body m-3">
                                                                <p class="mb-0"><b>Aufbau, Erhalt & Defizit:</b><br/>
                                                                    Gesamtenergiebedarf * 0.25 = Kalorienanteil Fette : 9 kcal/g = Gramm Fette
                                                                </p>
                                                                <p class="mb-0"><b>Refeed:</b><br/>
                                                                    Gesamtenergiebedarf * 0.09 = Kalorienanteil Fette : 9 kcal/g = Gramm Fette
                                                                </p>
                                                            </div>
                                                            <div class="modal-footer">
                                                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Schliessen</button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="mb-1">
                                                    {% if pal == 0 %}
                                                        <span class="text-muted">PAL benötigt</span>
                                                    {% elseif gewichtkcal == 0%}
                                                        <span class="text-muted">Gewicht zum berechnen benötigt</span>
                                                    {% endif %}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-6 col-lg-4">
                                        <div class="card">
                                            <div class="card-body">
                                                <h5 class="card-title mb-4 align-middle">Defizit <i class="align-middle" data-feather="arrow-down"></i></h5>
                                                <h1 class="mt-1 mb-3 text-danger">{{defizit|number_format}} kcal</h1>
                                                <div class="mb-1">
                                                    {% if pal == 0 %}
                                                        <span class="text-muted">PAL benötigt</span>
                                                    {% elseif gewichtkcal == 0%}
                                                        <span class="text-muted">Gewicht zum berechnen benötigt</span>
                                                    {% endif %}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card">
                                            <div class="card-body">
                                                <h5 class="card-title mb-4">Aktuelles Gewicht <i class="align-middle" data-feather="user"></i></h5>
                                                <h1 class="mt-1 mb-3">{{ current_gewicht|number_format(2)}} kg</h1>
                                                <div class="mb-1">
                                                    <span class="text-muted">Dein aktuelles Gewicht</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card">
                                            <div class="card-body">
                                                <h5 class="card-title mb-4">Gewicht bei 20% BF <i class="align-middle" data-feather="gitlab"></i></h5>
                                                <h1 class="mt-1 mb-3 text-muted">{{twentyBF|number_format(2)}} kg</h1>
                                                <div class="mb-1">
                                                    {% if twentyBF == 0 %}
                                                        <span class="text-muted">Gewicht und Körperfettprozent benötigt</span>
                                                    {% else %}
                                                        <span class="text-muted">
                                                            {% if kcalBis20BF < 0 %}
                                                                Noch {{ (kcalBis20BF|abs)|number_format(0, '.', '\'') }} kcal müssen zus. aufgenommen werden<br/>
                                                                Das dauert ca. {{ (tageBis20BF|abs)|number_format(0, '.', '\'') }} Tage, bei einem täglichen Überschuss von 300 kcal.<br/>
                                                                {{ (tageBis20BF_400|abs)|number_format(0, '.', '\'') }} Tage bei einem Überschuss von 400 kcal
                                                            {% else %}
                                                                Noch {{ (kcalBis20BF)|number_format(0, '.', '\'') }} kcal müssen eingespart werden<br/>
                                                                Das dauert ca. {{ tageBis20BF|number_format(0, '.', '\'') }} Tage, bei einem täglichen Defizit von 300 kcal.<br/>
                                                                {{ (tageBis20BF_400|abs)|number_format(0, '.', '\'') }} Tage bei einem Defizit von 400 kcal
                                                            {% endif %}
                                                        </span>
                                                    {% endif %}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card">
                                            <div class="card-body">
                                                <h5 class="card-title mb-4 text-success" data-toggle="modal" data-target="#carbsInfo">Kohlenhydrate <i class="align-middle" data-feather="info"></i></h5>
                                                <h4 class="text-decoration-underline">Aufbau</h4>
                                                <h4 class="mt-1 mb-3 text-success">{{carbs_aufbau_kcal|number_format}} kcal / {{ carbs_aufbau_gramm|number_format }} g</h4>
                                                <h4 class="text-decoration-underline">Erhalt</h4>
                                                <h4 class="mt-1 mb-3 text-secondary">{{carbs_erhalt_kcal|number_format}} kcal / {{ carbs_erhalt_gramm|number_format }} g</h4>
                                                <h4 class="text-decoration-underline">Defizit</h4>
                                                <h4 class="mt-1 mb-3 text-danger">{{carbs_defizit_kcal|number_format}} kcal / {{ carbs_defizit_gramm|number_format }} g</h4>
                                                <h4 class="text-decoration-underline">Refeed</h4>
                                                <h4 class="mt-1 mb-3 text-primary">{{carbs_refeed_kcal|number_format}} kcal / {{ carbs_refeed_gramm|number_format }} g</h4>
                                                <div class="modal fade" id="carbsInfo" tabindex="-1" aria-hidden="true" style="display: none;">
                                                    <div class="modal-dialog" role="document">
                                                        <div class="modal-content">
                                                            <div class="modal-header">
                                                                <h4 class="modal-title">Berechnung der Kohlenhydratverteilung</h4>
                                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                                    <span aria-hidden="true">×</span>
                                                                </button>
                                                            </div>
                                                            <div class="modal-body m-3">
                                                                <p class="mb-0"><b>Aufbau, Erhalt, Defizit & Refeed:</b><br/>
                                                                    Gesamtenergiebedarf - Kalorienanteil Proteine - Kalorienanteil Fette = Kalorienanteil Kohlenhydrate : 4kcal/g = Gramm Kohlenhydrate</p>
                                                            </div>
                                                            <div class="modal-footer">
                                                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Schliessen</button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="mb-1">
                                                    {% if pal == 0 %}
                                                        <span class="text-muted">PAL benötigt</span>
                                                    {% elseif gewichtkcal == 0%}
                                                        <span class="text-muted">Gewicht zum berechnen benötigt</span>
                                                    {% endif %}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>


                            </div>


                    </div>

                    <div class="row">
                        <div class="col-xl-12 col-xxl-12">
                            <div class="card flex-fill w-100">
                                <div class="card-header">

                                    <h5 class="card-title mb-0">Verlauf Gewicht</h5>
                                </div>
                                <div class="card-body py-3">
                                    <div class="chart chart-sm">
                                        <canvas id="chartjs-dashboard-line"></canvas>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </main>



{% endblock %}
{% block js %}
    <script src="https://cdn.jsdelivr.net/npm/chart.js@3.7.1/dist/chart.min.js"></script>
    <script src="{{ asset('js/app.js') }}"></script>

    <script>
      document.addEventListener("DOMContentLoaded", function() {
        var ctx = document.getElementById("chartjs-dashboard-line").getContext("2d");

        // Line chart
        new Chart(ctx, {
          type: "line",
          data: {
            labels: {{ gewicht_m_month|raw }},
            datasets: [{
              label: "Gewichtmessung in kg",
              fill: true,
              yAxisID: 'y-axis-1',
              borderColor: window.theme.primary,
              data: {{ gewicht_m_data|raw }}
            },{
              label: "Körperfettanteil in %",
              fill: true,
              yAxisID: 'y-axis-2',
              borderColor: window.theme.danger,
              data: {{ gewicht_bf_data|raw }}
            }
            ],
          },
          options: {
            spanGaps: true,
            maintainAspectRatio: false,
            legend: {
              display: true
            },
            tooltips: {
              intersect: true
            },
            hover: {
              intersect: true
            },
            plugins: {
              filler: {
                propagate: false
              }
            },
            scales: {
              xAxes: [{
                reverse: true,
                gridLines: {
                  color: "rgba(1,0,0,0.1)"
                }
              }],
              yAxes: [
                {
                    id: 'y-axis-1',
                    position: 'left',
                    ticks: {
                      stepSize: 5
                    },
                    display: true,
                    borderDash: [3, 3],
                    gridLines: {
                      color: "rgba(1,0,0,0.1)"
                    }
                },
                {
                    id: 'y-axis-2',
                    position: 'right',
                    ticks: {
                      stepSize: 5
                    },
                    display: true,
                    borderDash: [3, 3],
                    gridLines: {
                      color: "rgba(1,0,0,0.1)"
                    }
                }
              ]
            }
          }
        });
      });
    </script>
    <style>
        /* Tooltip container */
        .tooltip {
            position: relative;
            display: inline-block;
            border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
        }

        /* Tooltip text */
        .tooltip .tooltiptext {
            visibility: hidden;
            width: 120px;
            background-color: black;
            color: #fff;
            text-align: center;
            padding: 5px 0;
            border-radius: 6px;

            /* Position the tooltip text - see examples below! */
            position: absolute;
            z-index: 1;
        }

        /* Show the tooltip text when you mouse over the tooltip container */
        .tooltip:hover .tooltiptext {
            visibility: visible;
        }
    </style>
{% endblock %}
